<%- include header.ejs %>
<%- include nav.ejs %>

<div class = "col-md-3">
    <p>Some buttons for interactions</p>
</div>
<div class = "col-md-9" id="mapDIV">
    <div id="map"></div>
</div>
<%- include Modal_Contact.ejs %>
<%- include footer.ejs %>
