<div class="navbar-default" id="navDIV">
    <nav class="navbar bg-light">
        <ul class="nav">
            <a href="/" class="navbar-brand" id="title">武汉市街道活力分析原型系统</a>
            <li class="nav-item">
                <a class="nav-link" href="/" title="主页"><i class="iconfont iconzhuye"></i>&nbsp;主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/systemInfo/index.html" title="系统介绍" target="_blank"><i class="iconfont iconjieshao"></i>&nbsp;系统介绍</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users" title="用户管理"><i class="iconfont iconguanli"></i>&nbsp;用户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/whstreetsInfo/index.html" title="街道展示" target="_blank"><i class="iconfont iconjindu"></i>&nbsp;街道展示</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#Modal_Contact"><i class="iconfont iconlianxi"></i>&nbsp;联系我们</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/"><% if(locals.islogin){ %>欢迎：&nbsp;<%= test %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" class="btn"><i class="iconfont icontuichudenglu"></i>&nbsp;退出</a>
            </li>
            <% }else{ %>
                <li class="nav-item"><a class="nav-link" href="/reg"><i class="iconfont iconzhuceyonghu"></i>&nbsp;注册</a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><i class="iconfont icondenglu"></i>&nbsp;登录</a></li>
            <% } %>
        </ul>
    </nav>
</div>

