<%- include header %>
<div class="container">
    <form action="" role="form" method="post">
        <fieldset>
                <div>
                    <label for="username">用户名</label>
                    <div>
                        <input type="text" id="username" name="username" placeholder="用户名" required>
                    </div>
                </div>
                <div>
                    <label for="password2">密码</label>
                    <div>
                        <input type="text" id="password2" name="password2" placeholder="密码" required>
                    </div>
                </div>
                <div>
                    <div>
                        <button type="submit">注册</button>
                    </div>
                </div>

        </fieldset>
    </form>
</div>
<%- include footer %>