body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.backgroundF{
  background-image: url("../images/wh.jpg");
  position:fixed;
  height:100%;
  width:100%;
  padding-top: 170px;
}
.navbar{
  margin-bottom: 0px;
}
a {
  color: #00B7FF;
}
